.navbar {
	@extend .clearfix;
}

.navbar-default {
	background: #fff;
	border-radius: 0;
	border-width: 0;
	margin: 0 0 $spacer*2;
}

//navbar nav
.navbar-brand {
	float: left;
	font-size: 24px;
	margin: $spacer*2 0;
	>a {
		color: $link-color;
	}
}

//navbar nav
.navbar-nav {
	>li {
		float: left;
		>a {
			padding: 22px 15px;
			text-transform: uppercase;
			transition: background-color 0.2s ease-in;
		}
		&.active > a,
		.router-link-active{
			background: $brand-primary;
			color: #fff;
		}
	}
}

.navbar-right {
	float: right;
}

@media (max-width: $screen-sm) {
	.navbar-brand{
		font-size: 16px;
		line-height: 24px;
	}
	.navbar-nav{
		margin-right: -$navbar-padding-horizontal;

		> li > a{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}