.navbar {
	@extend .clearfix;

	box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

//Fixed navbar handling
#app{
	padding-top: $navbar-height + $spacer*2;

	&.intro-open{
		padding-top: 0;
	}
}
#app.home.intro-open .navbar{
	position: static;
}

.navbar-default {
	background: #fff;
	border-radius: 0;
	border-width: 0;
	margin: 0 0 $spacer*2;
}

//navbar nav
.navbar-brand {
	float: left;
	font-size: 24px;
	margin: $spacer*2 0;
	>a {
		color: $link-color;
	}
}

//navbar nav
.navbar-nav {
	>li {
		float: left;
		>a {
			padding: 22px 15px;
			text-transform: uppercase;
			transition: background-color 0.2s ease-in;
		}
		&.active > a,
		.router-link-active{
			background: $brand-primary;
			color: #fff;

			&:hover,
			&:focus{
				background: $brand-primary;
			}
		}
	}
}

.navbar-right {
	float: right;
}

@media (max-width: $screen-sm) {
	.navbar-brand{
		font-size: 16px;
		line-height: 24px;
	}
	.navbar-nav{
		margin-right: -$navbar-padding-horizontal;

		> li > a{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}