.page-header {
	margin: -2em 0 2em;
	position: relative;
	position: relative;

	.page-header-media{
		background: left bottom no-repeat;
		background-size: cover;
		min-height: 35vh;
	}
	.page-header-body {
		padding: $spacer*2 0 0;
		.page-title {
			font-weight: 300;
			margin: 0;
		}
		p {
			margin: 0;
		}
	}
}