.page-header {
	margin: -2em 0 2em;
	padding: 35vh 0 0;
	position: relative;
	background: #eee left bottom no-repeat;
	background-size: cover;
	position: relative;
	.page-header-body {
		background: #fff;
		color: #333;
		opacity: 0.7;
		padding: $spacer 0;
		.page-title {
			font-weight: 300;
			margin: 0;
		}
		p {
			margin: 0;
		}
	}
}