$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// Body
$body-bg: #eee;
// Brands
$brand-primary: #1B2C34;
$brand-secondary: #42ab9e;

// Typography
$font-family-sans-serif: "Open Sans",
sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #333;
// Links
$link-hover-decoration: none !default;
$link-color: $brand-primary;
$link-hover-color: $brand-secondary;
// Spacing
$spacer: 10px;
// Navbar
$navbar-height: 66px;