$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// Body
$body-bg: #eee;
// Navbar
$navbar-default-border: transparent;
$navbar-default-bg: #fff;
// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
// Typography
$font-family-sans-serif: "Open Sans",
sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #333;